* {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.introBlock,
.footer {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    padding-inline: 5rem;
    
}

.introBlock {
    padding-bottom: 5rem;
}

#heroText {
    font-size: 48px;
}

#header-left {
    font-size: 24px;
}

#heroText,
#header-left {
    color: #F9FAF8;
    font-weight: bolder;
}

#headerBar,
#header-right,
#headerContent,
#imageRow {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

#header-right {
    gap: 2em;
}

.imageOutline {
    height: 10rem;
    width: 10rem;
    border: 0.25rem solid #3882F6;
    border-radius: 10px;
}

.signUp {
    background-color: #3882F6;
    border: none;
    color: #E5E7EB;
    padding: 0.33rem 0.99rem;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
}

.footer {
    text-align: center;
    padding-block: 0.5rem;
}