#headerBar,
#header-right,
#headerContent,
#imageRow {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

#header-right {
    gap: 2em;
}

.imageOutline {
    height: 10rem;
    width: 10rem;
    border: 0.25rem solid #3882F6;
    border-radius: 10px;
}