* {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.introBlock,
.footer {
    background-color: #1F2937;
    color: #E5E7EB;    
}

.introBlock,
.footer,
#informationBlock,
#quoteBlock {
    padding-inline: 5rem;
}

.introBlock,
.footer,
.imageDescription {
    font-size: 18px;
}

.introBlock,
#informationBlock,
#quoteBlock,
#signUpPanel {
    padding-bottom: 5rem;
}

#quoteBlock,
#signUpPanel {
    padding-top: 5rem;
}

#heroText {
    font-size: 48px;
}

#header-left,
#citation,
#callToAction {
    font-size: 24px;
}

#quote {
    text-align: left;
}

#citation {
    font-weight: bold;
    text-align: right;
}

#heroText,
#header-left {
    color: #F9FAF8;
    font-weight: bolder;
}

#headerBar,
#header-right,
#headerContent {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.info {
    padding-block: 1rem;
    text-align: center;
}

.imageRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

#imageTile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#header-right {
    gap: 2em;
}

.imageOutline {
    height: 10rem;
    width: 10rem;
    border: 0.25rem solid #3882F6;
    border-radius: 10px;
}

#quoteBlock {
    background-color: #E5E7EB;
}

#quoteSpace {
    display: flex;
    flex-direction: column;
}

#quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.signUp {
    background-color: #3882F6;
    border: none;
    color: #E5E7EB;
    padding: 0.33rem 0.99rem;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
    padding-inline: 1rem;
}

#signUpPanel {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3882F6;
    margin: 5rem;
    padding: 1rem;
    color: #E5E7EB;
    border-radius: 10px;
}

#callToAction,
.signUp {
    font-weight: bold;
}

#signUp-right {
    border: 1px solid #E5E7EB;
    border-radius: 5px;
}

.footer {
    text-align: center;
    padding-block: 0.5rem;
}